* {
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}

body {
	background-image: url(../img/mainburgerbackground2.jpg);
	background-size: cover;
	background-color: #343a40;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

main {
	padding-bottom: 100px;
}

.headerimg {
	width: 100%;
	text-align: center;
}

header h1 {
	color: whitesmoke;
	font-size: 60px;
	font-family: 'Lobster', cursive;
}

.addBurgerForm {
	margin-bottom: 0px;
}

.addABurger {
	color: whitesmoke;
	font-family: 'Caveat', cursive;
}

.addABurger h2 {
	font-size: 2.5rem;
}

.addBurgerInput {
	border: transparent;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1.5rem;
	overflow: scroll;
	max-width: 100%;
}

.addBurgerBTN {
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1.5rem;
}

.addBurgerInst {
	font-size: 1.5rem;
}

.burgerlist {
	color: whitesmoke;
	border-right: 5px solid whitesmoke;
}

.burgerlist h3 {
	text-decoration: underline;
	margin-right: 10%;
	line-height: 1.5;
	font-size: 2rem;
}

.burgerlist table {
	width: 100%;
	margin: 0 auto;
}

.doneBTN {
	border-radius: 5px;
}

.devburgerlist {
	color: whitesmoke;
}

.devburgerlist h3 {
	text-decoration: underline;
	margin-right: 10%;
	line-height: 1.5;
	font-size: 2rem;
}

.devburgerlist table {
	width: 100%;
	margin: 0 auto;
}

.deleteBTN {
	border-radius: 5px;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* For small screens (e.g. phone) */
@media only screen and (max-width: 640px) {
	.burgerlist {
		color: whitesmoke;
		border-right: none;
	}
}
